body{
    margin: 0;
    padding: 0;
    background-color: black;
    background-attachment: fixed;
}

@font-face {
    src: url(fonts/segoe/SegoeAlt.ttf);
    font-family: segoe;
}

#pantalla-dividida{
    display: flex;
}

.izquierda{
    height: 100vh;
    width: 32%;
}

.wrapperLeft{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-gap: 10px;*/
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 75% 25%;
    justify-items: start;
}

.leftrigt{
    grid-column: 2;
    grid-row: 1;
}

.btnLogoutLeft{
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 40px;
    background-color: rgb(31, 29, 29);
    font-family: segoe;
    font-size: 25px;
    font-family: segoe;
}

.btnTweetLeft{
    color: white;
    height: 50px;
    width: 150px;
    border-radius: 40px;
    background-color: #00acee;
    font-family: segoe;
}

.textLeft{
    font-size: 25px;
    font-family: segoe;
}


.derecha{
    height: 100vh;
    width: 32%;
}

.searchRight{
    margin-top: 2px;
    border-radius: 45px;
    background: rgb(31, 29, 29);
    font-size: 19px;
    border: none;
    cursor: pointer;
    color: #fff;
    height: 40px;
    font-family: segoe;
    margin-bottom: 15px;
}

.wrapperRigth{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-gap: 10px;*/
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 50% 50%;
    justify-items: end;
}

.rigtleft{
    grid-column: 1 / 4;
    grid-row: 1;
    margin-left: 10px;
}

.textRigth{
    font-size: 20px;
    font-family: segoe;
}

.trendsRigth{
    background: rgb(31, 29, 29);
    border-radius: 35px;
}

.centro{
    height: 100vh;
    width: 36%;
}

.bordes{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(31, 29, 29);
}

.textoWhite{
    color: white;
    font-family: segoe;
}

.inputStyle{
    color: white;
    width: 250px;
    height: 75px;
    background-color: black;
    font-size: 20px;
}

.btnTweet{
    color: white;
    height: 50px;
    width: 70px;
    border-radius:  40px;
    background-color: #00acee;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-gap: 10px;*/
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 15% 85%;
    grid-template-rows: 100% 100%;
}

.one {
  grid-column: 1;
  grid-row: 1;
}

.two {
  grid-column: 2 / 4;
  grid-row: 1;
}

.circular--square {
    border-radius: 50%;
  }

.wrappert{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-gap: 3px;*/
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns: 15% 85%;
    grid-template-rows: 25% 75%;
}

.onet {
    grid-column: 1;
    grid-row: 1;
  }

.twot {
    grid-column: 2 / 4;
    grid-row: 1;
  }

.twott {
    grid-column: 2 / 4;
    grid-row: 2;
}

